<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.railstutorial.org/"target="_blank"><em>Ruby on Rails
      Tutorial</em></a>, part of the
  <a href="https://www.learnenough.com/"target="_blank">Learn Enough</a> family of
  tutorials, is a
  <a href="https://www.railstutorial.org/book"target="_blank">book</a> and
  <a href="https://screencasts.railstutorial.org/"target="_blank">screencast series</a>
  to teach web development with
  <a href="https://rubyonrails.org/"target="_blank">Ruby on Rails</a>.
  This is the sample app for the tutorial.
</p>
