<% provide(:title, "About") %>
<h2>&nbsp; рдирдорд╕реНрддреЗ (Namaste) ЁЯЩПЁЯП╗ , I'm Vijay Patidar ! </h2>

<p><em>Software Engineer at <a href="https://www.bestpeers.com/">Bestpeers

</em></p>
  
<br>
<br><br> Vibing to : ЁЯОз  </strong></p>

