<% provide(:title, "Contact") %>
<body>
    <h1>Follow us on Social Media</h1>
    <ul>
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://twitter.com/">Twitter</a></li>
      <li><a href="https://www.instagram.com/">Instagram</a></li>
      <li><a href="https://www.youtube.com/">YouTube</a></li>
      <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
      <li><a href="https://www.pinterest.com/">Pinterest</a></li>
      <li><a href="https://www.tumblr.com/">Tumblr</a></li>
      <li><a href="https://www.reddit.com/">Reddit</a></li>
    </ul>
  </body>