<% provide(:title, "Home") %>
<div class="container bg-body-tertiary"> 
<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>
<h2>This is the home page for the sample application.
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<br>
</div>
 <br>   <br>   <br>
</div>

<% #= image_tag("kitten.jpg", alt: "kitti", width: "500") %>r