
<div class="wrapper"></div>
<footer class="footer fixed-bottom">
  <small>
    <%= link_to image_tag("rails.jpg", alt: "Rails logo", width: "150"),"https://rubyonrails.org/" %>
    &copy; 2023 Chatmate | Design and Developed by Vijay patidar
  </small><nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/"target="_blank">News </a></li>
    </ul>
  </nav>
</footer>
</div>
