<div class="wrapper"></div>
<footer class="footer fixed-bottom">
<small>
<%= link_to image_tag("rails.png", alt: "Rails logo", width: "100"),"https://rubyonrails.org/" %>
The <a href="https://www.railstutorial.org/"target="_blank">Ruby on Rails Tutorial</a>
by <a href="https://www.michaelhartl.com/"target="_blank">Michael Hartl</a>
</small><nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
   
<li><a href="https://news.railstutorial.org/"target="_blank">News </a></li>
</ul>
</nav>
</footer>
</div>