<ul class="nav nav-tabs navbar-inverse">
<%= link_to "ChatMate", root_path, id: "logo" %>
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  </div>
</ul>